{% extends "bootstrap/base.html" %}

{% block title %}Event Detail{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Event Detail -->
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    <h1>{{ evnt.eventname }}</h1>
    <p class="lead">Hosted by {{ evnt.username }}</p>
    <hr>
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <h2>Date</h2><p>{{ moment(evnt.eventdate).format('LLLL') }}</p>
      </div>
      <div class="col-md-5 col-xs-12">
        <h2>Location</h2>
        <p>{{ evnt.location }}</p>
      </div>
    </div>

    <hr>
    <h2>Detail</h2>
    <p>{{ evnt.detail | nl2br }}</p>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}