{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log In{% endblock %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block navbar %}
  {% include "navbar.html" %}
{% endblock %}

{% block content %}
  <div class="container">
    <!--<h1>Log In</h1>-->
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}

    <div class="wrapper fadeInDown">
      <div id="formContent">

        <h1 class="form-title">Log In</h1>
        {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}

        <div id="formFooter">
          <a class="underlineHover" href="{{ url_for('auth.register') }}">Register here</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}